<div class="jumbotron">
  <h1 class="display-4">About Us</h1>
  <p class="lead">
In a moment, I will tell you everything you need to know about the Jungle.

But, first, a story...

It is said that in Ulthar, which lies beyond the river Skai, no man may kill a cat; and this I can verily believe as I gaze upon him who sitteth purring before the fire. 

For the cat is cryptic, and close to strange things which men cannot see. He is the soul of antique Aegyptus, and bearer of tales from forgotten cities in Meroe and Ophir. 

He is the kin of the jungles lords, and heir to the secrets of hoary and sinister Africa. 

The Sphinx is his cousin, and he speaks her language; but he is more ancient than the Sphinx, and remembers that which she hath forgotten.


  </p>
  <hr class="my-4">
</div>